body {
        background-color: rgb(250, 250, 250);
}

a {
        text-decoration: none;
}

.header_wrapper {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
}

.leftside {
        margin-top: 100px;
}

.rightside {
        margin-top: 125px;
        display: flex;
        flex-direction: column;
}

.input_form {
        width: 350px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(200, 200, 200);
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 10px;
}

input[type='text'], input[type='password'] {
        width: 300px;
        margin: auto;
        background-color: white;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        color: black;
        font-family: serif;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
}

input[type='password'] {
        margin-top: -10px;
}

button {
        width: 300px;
        margin: auto;
        border: none;
        background-color: rgb(163, 223, 253);
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;
        color: white;
        font-weight: bold;
}

button:hover {
        background-color: red;
        color: yellow;
        border: 1px solid black;
}

.or_image {
        width: 300px;
        margin: auto;
}

.fb_image {
        width: 60%;
        margin: auto;
}

.registration {
        border: 1px solid rgb(200, 200, 200);
        margin-top: 13px;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
}

.registration a {
        color: #1877f2;
        font-weight: bold;
}

.insta_image {
        width: 200px;
        margin: auto;
}

.forget_password {
        margin: auto;
        color: #3b5998;
        font-size: 15px;
}

.download_app {
        margin-top: 10px;
        text-align: center;
}

.download_app p {
        margin-top: 20px;
        margin-bottom: 20px;
}

.download_app_btns {
        display: flex;
        justify-content: space-between;
}

.app_store {
        margin-left: 33px;
}

.google_play {
        margin-right: 33px;
}

.footer_wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        font-size: 15px;
        padding-top: 120px;
}

.footer_wrapper a {
        color: black;
        opacity: 0.5;
        line-height: 1.3;
}

.line1 {
        display: flex;
        justify-content: space-between;
}

.line2 {
        display: flex;
        justify-content: space-between;
        padding-left: 130px;
        padding-right: 130px;
}

.line3 {
        display: flex;
        justify-content: space-between;
        padding-left: 350px;
        padding-right: 350px;
}

.rus, .cr {
        color: black;
        opacity: 50%;
}
